<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{!-- bootstrap and fonts --}}
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">

  <link rel="manifest" href="/static/manifest.json">
  {{!-- for ios  --}}
  <link rel="apple-touch-icon" href="/static/icons/app-icon-96-96.png">
  <link rel="apple--mobile-web-app-status-bar" content="#aa7700">

  <meta name="theme-color" content="#4B4E51">
  <meta name="description" content="AffiliCats Progressive Web App demo that showcases flaky network resilience measures">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/css/{{stylecss}}.css">
  
  <link rel="shortcut icon" href="/static/icons/favicon.ico" type="image/x-icon">
</head>
