<nav class="navbar navbar-expand-lg d-flex flex-column" id="mainNav">
	<div class="container-fluid bz-bx" id="navCon">
		<div class="text-center d-flex justify-content-center" id="divForMainLogo" style="height: 70px;">
			<img class="img-fluid d-flex" id="mainLogo-1" src="/static/img/logo.svg" height="70" alt="logo" style="margin-bottom: 10px;height: 70px;">
		</div>
		<div id="divForNavBarToggle">
			<button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" id="navBarToggle" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background: rgba(254,209,54,0);">
			     <i class="fa fa-reorder" style="font-size: 34px;"></i>
			</button>
		</div>
		<div class="collapse navbar-collapse d-xxl-flex justify-content-xxl-end" id="navbarResponsive">
			<ul class="navbar-nav d-xxl-flex ms-auto justify-content-xxl-end align-items-xxl-start text-uppercase" id="ul-nav-list">
				<li class="nav-item"><a class="nav-link active" id="goToMain" style="font-family: Oswald, sans-serif;">Главная</a></li>
			     <li class="nav-item"><a class="nav-link" id="goToSearch" id="btnSearch">Поиск</a></li>
				<li class="nav-item dropdown nav-item-dropdown-admin hide">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Админ
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="/admin/regNewWorker">Регистрация сотрудника</a></li>
						<li><a class="dropdown-item" href="/admin/regNewDep">Регистрация департамента</a></li>
						<li><a class="dropdown-item" href="/admin/regNewSubd">Регистрация подразделения</a></li>
						<li><a class="dropdown-item" href="/admin/regNewEmployeePost">Регистрация должности</a></li>
					</ul>
				</li>
			     {{!-- <li id="adminPanel-li" class="nav-item hide"><a class="nav-link" id="goToAdminPanel">Админка</a></li> --}}
			     <li class="nav-item"><a class="nav-link" id="goToHelpPage">Помощь</a></li>
				<li class="nav-item"><a class="nav-link" id="logOut">Выйти</a></li>
			</ul>
		</div>
	</div>
</nav>
	