<form action="/create" method="POST">
  <h2>Create todo</h2>

  <div class="input-field">
    <input type="text" name="title">
    <label>Todo title</label>
  </div>

  <button type="submit" class="btn">Create</button>
</form>

  <form action="/createUser" method="POST">
    <div class="form">
      <img src="/img/logo 1.svg" alt="А оно тут есть" class="logo">
      <h2 class="auth">Регистрация</h2>
        <label class="pin"></label>
        <input class="pin__code" type="password" name="pin__code" maxlength="6" minlength="4">
        <a class="auth__btn" href='index2.html'>Войти</a>
    </div>
  </form>