<main>
    <div class="d-flex container-fluid" id="indexConteiner">
        <div id="sideBar">
            <div role="tablist" id="accordion-3" class="acc-card">
                <div class="card">
                    <div class="card-header item-h1-div" role="tab">
                        <h5 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-start align-items-xxl-center mb-0 deps-item-header" style="height: 100%;">
                            <img src="/static/img/peka.svg" style="width: 44px;height: 44px;">
                            <a data-bs-toggle="collapse" aria-expanded="true" aria-controls="accordion-3 .item-1" href="#accordion-3 .item-1" class="acc-header-text" style="margin-right: 0px;margin-left: 20px;">IT</a>
                        </h5>
                    </div>
                    <div class="collapse show item-1" role="tabpanel" data-bs-parent="#accordion-3">
                        <div class="card-body">
                            <p class="card-text acc-content-text" style="font-family: Oswald, sans-serif;font-size: 1rem;">Tech support</p>
                            <p class="card-text acc-content-text" style="font-family: Oswald, sans-serif;font-size: 1rem;">Tech support</p>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tablist" id="accordion-2" class="acc-card">
                <div class="card">
                    <div class="card-header item-h1-div" role="tab">
                        <h5 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-start align-items-xxl-center mb-0 deps-item-header" style="height: 100%;">
                            <img src="/static/img/peka.svg" style="width: 44px;height: 44px;">
                            <a data-bs-toggle="collapse" aria-expanded="false" aria-controls="accordion-2 .item-1" href="#accordion-2 .item-1" class="acc-header-text" style="margin-right: 0px;margin-left: 20px;">HR</a>
                        </h5>
                    </div>
                    <div class="collapse item-1" role="tabpanel" data-bs-parent="#accordion-2">
                        <div class="card-body">
                            <p class="card-text acc-content-text white-label" style="font-family: Oswald, sans-serif;font-size: 1rem;">Tech support</p>
                            <p class="card-text acc-content-text" style="font-family: Oswald, sans-serif;font-size: 1rem;">Tech support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column" id="contentContainer">
            <div class="primary-content" style="height: 105px;">
                <div class="d-flex primary-worker">
                    <div class="d-xxl-flex align-items-xxl-center icon-profile" style="width: 100px;">
                        <img style="width: 100%;min-width: 100%;height: 90%;" src="/static/img/male.svg">
                    </div>
                    <div class="main-info-profile">
                        <p class="p-main-info-profile" style="margin-bottom: 0;font-family: Oswald, sans-serif;font-size: 1.4rem;">Директор департамента IT_new</p>
                        <p class="p-main-info-profile" style="margin-bottom: 0;font-size: 1.4rem;font-family: Oswald, sans-serif;">Владимир Ким&nbsp; &nbsp; &nbsp; &nbsp;87477477444</p>
                    </div>
                </div>
                <div class="d-flex primary-worker">
                    <div class="d-xxl-flex align-items-xxl-center icon-profile" style="width: 100px;">
                        <img style="width: 100%;min-width: 100%;height: 90%;" src="/static/img/male.svg">
                    </div>
                    <div class="main-info-profile">
                        <p class="p-main-info-profile" style="margin-bottom: 0;font-family: Oswald, sans-serif;font-size: 1.4rem;">Директор департамента IT_new</p>
                        <p class="p-main-info-profile" style="margin-bottom: 0;font-size: 1.4rem;font-family: Oswald, sans-serif;">Владимир Ким&nbsp; &nbsp; &nbsp; &nbsp;87477477444</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script async src="/static/js/forIndex.js"></script>