<main>
    <div class="d-flex container-fluid" id="indexConteiner">
        <div id="sideBar">
            
        </div>
        <div class="d-flex flex-column" id="contentContainer">
            <div class="primary-content" style="height: 104px;">
                
              
            </div>
            <div class="default-content" style="height: 104px;">
                
            </div>
        </div>
    </div>
</main>


<script async src="/static/js/forIndex.js"></script>