    <link rel="stylesheet" href="css/index.css">

    <header class='header'>
        <div class="header_content">
			<div class="logo">
				<img class="logo_img" src="img/logo.svg" />
			</div>
			<input class="search__menu" type="text" placeholder="  Введите данные сотрудника...">
			<img class="loupe" src="/img/loupe__1.svg" alt="search me">
		</div>
    </header>
    <main>
        <div class="sidenav">
            <div class="dep">
                <div class="dep-ico">
                    <img class="iconForDep" src="img/peka.svg">
                </div>
                <div class="noneflex">
                    <a class="dropdown-btn">ДЕПАРТАМЕНТ ИНФ. ТЕХНОЛОГИЙ</a>
                
                    <div class="dropdown-container">
                        <a href="#" class="linksubd">Тех. поддержка</a>
                        <a href="#" class="linksubd">Тех. поддержка</a>
                        <a href="#" class="linksubd">Тех. поддержка</a>
                    </div>
                </div>
            </div>


        </div>
        <!-- Контент -->
        <div class="content__page">
            <!-- <div class="contentDesc">
                <div class="infoDesc">
                    <p class="labelDesc">Директор департамента</p>
                    <p class="textDesc">Владимир Ким</p>
                </div>
                <div class="infoDesc">
                    <p class="labelDesc">Старший специалист подразделения</p>
                    <p class="textDesc">Юрий Тян</p>
                </div>
            </div> -->
            <div class="workers">
                <div class="workerCard">
                    <div class="icon">
                        <img class="icon__svg" src="/img/male.svg" alt="Мужчина">
                    </div>
                    <div class="info">
                        <p class="name">Юрий Тян</p>
                        <p class="position">Старший специалист подразделения</p>
                    </div>
                    <div class="phone">
                        <p class="phone__label">Телефон</p>
                        <p class="phone__num">+7 775 777 77 77</p>
                    </div>
                </div>
            </div>
        </div>
    </main>


<script src="/static/js/dropDown.js"></script>
<script src="/static/js/forIndex.js"></script>
<script src="/static/public.js"></script>