    <link rel="stylesheet" href="css/index.css">

    <header>
       <div class="header_content">
			<div class="logo">
				<img class="logo_img" src="img/logo.svg" />
			</div>
            <div class="SearchBarAndNav">
                <div class="nav">
                    <a href="" id="goToMain" class="navLink">ГЛАВНАЯ</a>
                    <a href="" id="goToAdminPanel" class="navLink">АДМИНКА</a>
                    <a href="" id="logOut" class="navLink">ВЫЙТИ</a>
                </div>
                <div class="searchMenu">
                    <input class="searchBar" type="text" placeholder="Введите данные сотрудника...">
			        <img class="loupe" src="/img/loupe__1.svg" alt="search me">
                </div>
            </div>
		</div>
    </header>
    <main>
        <div class="sidenav">
            <div class="dep">
                <div class="dep-ico">
                    <img class="iconForDep" src="img/peka.svg">
                </div>
                <div class="noneflex">
                    <a class="dropdown-btn">ДЕПАРТАМЕНТ ИНФ. ТЕХНОЛОГИЙ</a>
                
                    <div class="dropdown-container">
                        <a href="#" class="linksubd">Тех. поддержка</a>
                        <a href="#" class="linksubd">Тех. поддержка</a>
                        <a href="#" class="linksubd">Тех. поддержка</a>
                    </div>
                </div>
            </div>


        </div>
        <!-- Контент -->
        <div class="content__page">
            <div class="contentDesc">
               
            </div>
            <div class="workers">
                <div class="workerCard">
                    <div class="icon">
                        <img class="icon__svg" src="/img/male.svg" alt="Мужчина">
                    </div>
                    <div class="info">
                        <p class="name">Юрий Тян</p>
                        <p class="position">Старший специалист подразделения</p>
                    </div>
                    <div class="phone">
                        <p class="phone__label">Телефон</p>
                        <p class="phone__num">+7 775 777 77 77</p>
                    </div>
                </div>
            </div>
        </div>
    </main>


<script src="/static/js/forIndex.js"></script>
<script src="/static/public.js"></script>
<script src="static/js/nav.js"></script>