  <form action="/auth/login" method="POST">
    <div class="form">
      <img src="/img/logo 1.svg" alt="А оно тут есть" class="logo">
      <h2 class="auth">Авторизация</h2>
        <label class="pin">Введите свой пин-код</label>
        <input class="pin__code" type="password" name="password" maxlength="6" minlength="4">
        <input type="submit" class="auth__btn">
    </div>
  </form>


  <h2> {{username}} </h2>
  <h2> {{token}} </h2>


  <script src="/public.js"></script> 