
	<nav class="navbar navbar-dark navbar-expand-lg bg-dark d-flex flex-column" id="mainNav">
		<div class="container-fluid bz-bx" id="navCon">
		    <div class="text-center d-flex justify-content-center" id="divForMainLogo" style="height: 70px;">
			   <img class="img-fluid d-flex" id="mainLogo-1" src="/static/img/logo.svg" height="70" alt="logo" style="margin-bottom: 10px;height: 70px;">
		    </div>
		    <div id="divForNavBarToggle">
			   <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" id="navBarToggle" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background: rgba(254,209,54,0);">
				  <i class="fa fa-reorder" style="font-size: 34px;"></i>
			   </button>
		    </div>
		    <div class="collapse navbar-collapse d-xxl-flex justify-content-xxl-end" id="navbarResponsive">
			   <ul class="navbar-nav d-xxl-flex ms-auto justify-content-xxl-end align-items-xxl-start text-uppercase" id="ul-nav-list">
				  <li class="nav-item"><a class="nav-link active" href="#services" style="font-family: Oswald, sans-serif;">Главная</a></li>
				  <li class="nav-item"><a class="nav-link" id="btnSearch">Поиск</a></li>
				  <li class="nav-item"><a class="nav-link" href="#about">Админка</a></li>
				  <li class="nav-item"><a class="nav-link" href="#help">Помощь</a></li>
				  <li class="nav-item"><a class="nav-link" href="#team">Выйти</a></li>
			   </ul>
		    </div>
		</div>
	</nav>
	
	<main class="w-100" style="height: 600px; background: url(&quot;/static/img/background.png&quot;);">
			<input type="checkbox" id="main-nav-check"/>
			<div id="menu"> 
				<label for="main-nav-check" class="toggle" onclick="" style="color: white;" title="Close">&times;</label>
				<div class="list-subd">
					
				</div>
				
	
			</div><!-- closing "#menu" -->

			<div class="container-fluid divContentDeps">
				<div role="tab" class="card-header item-h1-div">
					<h5 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-start align-items-xxl-center mb-0 deps-item-header h-100">
						<label  class="toggle btnDep"  for="main-nav-check" >Департамент 1</label>
					</h5>
				</div>

				<div role="tab" class="card-header item-h1-div">
					<h5 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-start align-items-xxl-center mb-0 deps-item-header h-100">
						<label  class="toggle btnDep"  for="main-nav-check" >Департамент 1</label>
					</h5>
				</div>

				<div role="tab" class="card-header item-h1-div">
					<h5 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-start align-items-xxl-center mb-0 deps-item-header h-100">
						<label  class="toggle btnDep"  for="main-nav-check" >Департамент 1</label>
					</h5>
				</div>

				<div role="tab" class="card-header item-h1-div">
					<h5 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-start align-items-xxl-center mb-0 deps-item-header h-100">
						<label  class="toggle btnDep"  for="main-nav-check" >Департамент 1</label>
					</h5>
				</div>
			</div><!-- closing ".page-content" -->
	</main>
    
<script src="/static/js/bootstrap.min.js"></script>
<script async src="/static/js/offcanvas.js"></script>
