{{!-- <link rel="stylesheet" href="static/css/regNewWorker.css"> --}}
    
<div class="containerRegNewWorker">
    <main class="content">
        <div class="logo">
            <img src="static/img/logoReg.svg" alt="Нету? А где оно?" class="logo_svg">
        </div>
        <h1 class="reg">Регистрация</h1> 
        <form class="data" action="regNewWorker" method="post">
            <div class="reg_form">
                <label class="field_label" for="name">Фамилия, имя, отчество</label>
                <input type="text" class="usr_data" id="name" name="fullName_worker" placeholder="Введите ФИО">
            </div>
            <div class="reg_form">
                <label class="field_label" for="name">Номер телефона</label>
                <input type="text" class="usr_data" id="name" name="tel_worker" placeholder="Введите номер">
            </div>
            <div class="reg_form">
                <label class="field_label" for="dep" >Депортамент</label>
                <br>
                <select name="dep_worker" id="selectForDeps" class="depSelect">
                    <option value="Link 3" class="optionsForDep">Link 3</option>
                </select>
            </div> 
            <div class="reg_form">
                <label class="field_label" for="name" >Подразделение</label>
                <br>
                <select disabled id="selectForSubds" name="subd_worker" class="subdSelect">
                    <option value="Link 1">Link 1</option>
                </select>
            </div>
            <div class="reg_form">
                <label class="field_label" for="name" >Должность</label>
                <br>
                <select disabled id="selectForEmployee" class="subdSelect" name="employee_worker">
                    <option value="Link 1">Link 1</option>
                </select>
            </div>
            <div class="gender">
                <p>Пол</p>
                    <div class="gender_value">
                        <p><input type="radio" class="radioBtn" name="gender" value="male">Муж.</p>
                        <p><input type="radio" class="radioBtn" name="gender" value="female">Жен.</p>
                    </div>
            </div>
            <div class="btn">
                <input class="btn_form" type="submit" value="Зарегистрировать">
            </div>
        </form>
       
    </main>
</div>
<script async src="/static/js/regNewWorker.js"></script>