<link rel="stylesheet" href="static/css/regNewWorker.css">
    
<div class="containerRegNewWorker">
    <main class="content">
        <div class="logo">
            <img src="static/img/logoReg.svg" alt="Нету? А где оно?" class="logo_svg">
        </div>
        <h1 class="reg">Регистрация</h1>
        <form class="data">
            <div class="reg_form">
                <label class="field_label" for="name">Фамилия, имя, отчество</label>
                <div class="brakedown">
                    <input type="text" class="usr_data" id="name" placeholder="Введите ФИО">
                </div>
                
            </div>
            <div class="reg_form">
                <label class="field_label" for="name">Номер телефона</label>
                <input type="text" class="usr_data" id="name" placeholder="Введите номер">
            </div>
            <div class="reg_form">
                <label class="field_label" for="dep">Депортамент</label>
                <br>
                <select name="dep" id="" class="depSelect">
                    <option value="Link 1">Link 1</option>
                    <option value="Link 2">Link 2</option>
                    <option value="Link 3">Link 3</option>
                </select>
            </div> 
            <div class="reg_form">
                <label class="field_label" for="name">Подразделение</label>
                <br>
                <select name="dep" id="" class="subdSelect">
                    <option value="Link 1">Link 1</option>
                    <option value="Link 2">Link 2</option>
                    <option value="Link 3">Link 3</option>
                </select>
            </div>
            <div class="reg_form">
                <label class="field_label" for="name">Должность</label>
                <br>
                <select name="dep" id="" class="subdSelect">
                    <option value="Link 1">Link 1</option>
                    <option value="Link 2">Link 2</option>
                    <option value="Link 3">Link 3</option>
                </select>
            </div>
            <div class="gender">
                <p>Пол</p>
                    <div class="gender_value">
                        <p><input type="radio" class="radioBtn" name="gender" >Муж.</p>
                        <p><input type="radio" class="radioBtn" name="gender" >Жен.</p>
                    </div>
            </div>
        </form>
        <div class="btn">
            <button class="btn_form" type="button">Зарегистрировать</button>
        </div>
    </main>
</div>
<script src="/static/js/regNewWorker.js"></script>