
<div class="containerRegNewWorker">
    <main class="content">
        <div class="logo">
            <img src="static/img/logoReg.svg" alt="Нету? А где оно?" class="logo_svg">
        </div>
        <h1 class="reg">Поиск</h1> 
        
        <div class="searchDiv">
            <p class="textForSearch">Введите ФИО сотрудника</p>
            <input type="search" name="searchWorker" placeholder="Введите ФИО" class="usr_data" id="searchWorker">
        </div>

        <div class="contentSearch">
            <div class="workerCardSearch">
                {{!-- <div class="icon">
                    <img class="icon__svg" src="/img/male.svg" alt="Мужчина">
                </div>
                <div class="infoDAM">
                    <p class="labelDesc">${mode} ${workEmployee} </p>
                    <p class="textDesc">${element.fullName_worker}</p>
                </div>
                <div class="phoneDAM">
                    <p class="phone__labelDAM">Телефон</p>
                    <p class="phone__num">${element.tel_worker}</p>
                </div>      --}}
                <div class="upperContentCard">
                     <div class="mainInfoDAM">
                        <p class="textDescFN">ФИО: Radion DSADSA dsasda aaaa</p>
                    </div>
                </div>
                <div class="lowerContentCard">
                    <div class="infoDAM">
                        <p class="labelDesc">ДЕПАРТАМЕНТ: IT</p>
                        <p class="textDesc">Подразделение: tech sup</p>
                    </div>
                    <div class="phoneDAM">
                        <p class="phone__labelDAM">Телефон</p>
                        <p class="phone__num">8747465465</p>
                    </div> 
                </div>
                   
            </div>
        </div>

    </main>
</div>
<script async src="/static/js/search.js"></script>