<main class="w-100" style="height: 600px; background: url(&quot;/static/img/background.png&quot;);">
    <div class="container-sm" role="dialog" tabindex="-1" id="model-search-worker">
        <div class="d-flex justify-content-center conteiner-lg" role="document">
            <div class="" id="contentSearch">
                <div class="d-flex justify-content-between align-items-center" id="searchHeaderContent">
                    <h4 class="modal-title" style="font-family: Oswald, sans-serif;font-size: 2rem;">Поиск сотрудника</h4>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
					<label class="form-label form-label-search" style="">Введите фио сотрудника</label>
					<input type="text" id="input-search-worker" class="form-input-regWorker input-focus-search form-control">
				</div>
                <div class="footerContent flex-wrap d-flex justify-content-start">
                    
                </div>
            </div>
        </div>
    </div>
</main>
<script async src="/static/js/search.js"></script>