body{
  background-image: url('/static/img/background.png');
}

#indexConteiner {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
}

#sideBar {
  width: 34%;
}

#contentContainer {
  width: 66%;
}

html {
  text-decoration: none !important;
}

.card {
  background-color: #4B4E51 !important;
}

.acc-header-text {
  text-decoration: none;
  color: white;
  font-family: 'Oswald';
  font-size: 2rem;
}

.acc-content-text {
  text-decoration: none;
  color: white;
  font-size: 1.5rem !important;
  font-family: Oswald;
  font-size: 1rem;
  cursor: pointer;
}

.acc-content-text:hover{
  color: #e94c66 !Important;
}

a:hover {
  color: #e94c66 !Important;
}

.acc-card {
  border: 1px solid white;
}

.primary-worker {
  width: 50%;
  height: 100%;
  background-color: #313234 !important;
  border: 1px solid white;
}

.icon-profile {
  height: 100%;
  width: 100px;
  background-color: #313234 !important;
  /* border-bottom: 1px solid white;
  border-top: 1px solid white; */
}

.item-h1-div {
  height: 100px;
  display: flex;
  align-content: center;
}

.primary-content {
  height: 100px;
  width: 100%;
  display: flex;
}

.main-info-profile {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .primary-content {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .primary-worker {
    height: 105px;
  }
}

@media (max-width: 1200px) {
  .icon-profile, .icon-profile-def-worker {
    display: none;
  }
}

.input-focus-search:focus {
  border-color: #e94c66 !Important;
  box-shadow: 0 0 0 .05rem #e94c66 !Important;
}

.search-worker {
  width: 100%;
  border: 1px solid #4B4E51 !important;
}

.deps-item-header {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width: 400px) {
  #divForMainLogo {
    margin-bottom: 10px;
  }
}



html {
  color: white !important;
  font-family: 'Oswald' !important;
  font-weight: 400 !important;
}

#h1ForLogin {
  font-weight: 500 !important;
  font-size: 62px;
}


.form-label-bs {
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 10px;
}

.form-input-pass {
  border: 1px solid #4B4E51;
  border-radius: 10px;
}

#btn-submit-form {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  border-radius: 10px;
  background-color: #4b4e51;
  width: 100%;
  text-align: center;
}

.form-input-pass:focus {
  border-color: #e94c66 !Important;
  box-shadow: 0 0 0 .05rem #e94c66 !Important;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
}

#containerLogin {
  display: flex;
  justify-content: center;
}

#mainDivForLogin {
  display: flex;
  justify-content: center;
  align-content: center;
}

#DivForLogo {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (max-width: 1200px) {
  #containerLogin {
    width: 60% !important;
  }
}

#divForLoginForm {
  display: flex;
  justify-content: center;
}

@media (max-width: 1440px) {
  #DivForLogo {
    margin-top: 80px;
  }
}

@media (max-width: 992px) {
  #h1ForLogin {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  #mainDivForLogin {
    width: 100% !important;
  }
}

@media (max-width: 992px) {
  #containerLogin {
    width: 100% !important;
    padding: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 550px) {
  #h1ForLogin {
    font-size: 2rem !important;
  }
}

@media (max-width: 550px) {
  #mainLogo {
    width: 90% !important;
  }
}

@media (max-width: 550px) {
  #formLogin {
    width: 90% !important;
  }
}

@media (max-width: 440px) {
  main {
    height: 100% !important;
  }
}

@media (max-width: 440px) {
  #mainDivForLogin {
    padding-top: 20px !important;
  }
}

@media (max-width: 320px) {
  #mainLogo-1 {
    width: 90%;
  }
}

@media (max-width: 400px) {
  #containerLogin {
    margin-bottom: 10px !important;
  }
}

@media (max-height: 750px) {
  #mainDivForLogin {
    padding-top: 120px;
  }
}

@media (max-width: 990px) {
  #DivForLogo {
    margin-top: 10px;
  }
}

#btnSearch {
  cursor: pointer;
}



.default-content {
  width: 100%;
  height: 100px;
  border: solid 1px white;
}

.p-main-info-profile {
  color: white;
  margin-bottom: 0;
  font-family: Oswald;
  font-size: 1.4rem;
}

.main-info-profile {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
}

.black-label {
  color: rgb(75, 78, 81) !important;
}

.icon-profile-def-worker {
  background-color: rgb(75, 78, 81) !important;
  height: 100px;
}

.default-worker {
  background-color: white;
  width: 50%;
  height: 100%;
  border: solid 1px rgb(255, 255, 255) !important;
}

@media (max-width: 1200px) {
  .primary-worker {
    width: 100% !important;
  }
}

@media (max-width: 1200px) {
  .default-worker {
    height: 102px !important;
  }
}

@media (max-width: 1000px) {
  .default-worker {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .icon-profile-def-worker {
    display: block !important;
  }
}

@media (max-width: 1000px) {
  .primary-content {
    height: 210px !important;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .primary-worker {
    width: 100% !important;
  }
}

@media (max-width: 1000px) {
  .icon-profile {
    display: block !important;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 14px !important;
  }
}

@media (max-width: 700px) {
  #indexConteiner {
    display: flex;
    flex-direction: column !important;
  }
}

@media (max-width: 700px) {
  #sideBar {
    width: 100% !important;
  }
}

@media (max-width: 700px) {
  #contentContainer {
    width: 100% !important;
  }
}

#model-search-worker {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.form-input-regWorker {
  border: 1px solid #4B4E51;
  border-radius: 10px;
  margin: 5px 0 10px 0;
  width: 90% !important;
}

.input-focus-bs:focus {
  border-color: #e94c66 !Important;
  box-shadow: 0 0 0 .05rem #e94c66 !Important;
}

