main{
    width: 100%;
    height: 90vh;
    max-height: 100vh;
}

.form-input-regWorker {
    border: 1px solid #4B4E51;
    border-radius: 10px;
    margin: 5px 0 10px 0;
    width: 90% !important;
    padding: 6px 12px;
    color: #4b4e53;
  }
  
  .form-input-pass:focus {
    border-color: #e94c66 !Important;
    box-shadow: 0 0 0 .05rem #e94c66 !Important;
  }
  
  .input-focus-bs:focus {
    border-color: #e94c66 !Important;
    box-shadow: 0 0 0 .05rem #e94c66 !Important;
    font-family: Oswald, sans-serif;
  }
  
  .radioRegNewWorker {
    margin: 0 10px;
  }
  
  .label-radio {
    margin: 0 10px;
  }
  
  .form-input-pass {
    border: 1px solid #4B4E51;
    border-radius: 10px;
  }
  
  * {
    box-sizing: content-box !important;
  }
  
  
  html {
    color: white !important;
    font-family: 'Oswald' !important;
    font-weight: 400 !important;
  }
  
  
  .active {
    color: #e94c66 !Important;
  }
  
  
  
  .form-label-bs {
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: Oswald, sans-serif;
    text-align: center;
    font-size: 1.5rem;
  }
  
  
  
  #btn-submit-form {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 10px;
    background-color: #4b4e51;
    width: 100%;
    text-align: center;
    height: 40px;
    padding: 0;
    margin-top: 20px;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  
  
  main {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  #containerLogin {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40%;
    margin: 0;
    padding: 0;
  }
  
  
  
  .fa.fa-bars {
    width: 100%!important;
    height: 100% !important;
  }
  
  
  
  
  #h1ForLogin  {
    margin-top: 20px;
    font-weight: 500 !important;
    font-size: 2.2rem !important;
    font-family: Oswald;  
    text-align: center;
  }
  
  
  #btn-submit-form {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    border-radius: 10px;
    background-color: #4b4e51;
    width: 100%;
    text-align: center;
  }
  
  
  #mainLogo {
    border-style: none !important;
    border-color: rgba(255,255,255,0) !important;
    box-sizing: content-box !important;
    width: 60%;
    box-shadow: 0px 0px;
    background: rgba(255,255,255,0);
  }
  
  #mainDivForLogin {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #4b4e51;
    background: #f8f8f8;
    height: 100%;
    width: 100%;
  }
  
  #DivForLogo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 30px;
  }
  
  
  #divForLoginForm {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .bz-bx{
    box-sizing: border-box !important;
  }
  
  .nav-link:hover {
    color: #e94c66 !Important;
  }
  
#ul-nav-list{
    padding: 0 20px 0 0;
}

.nav-tabs-admin{
  border-top: 1px solid white;
  width: 100%;
  background-color: #4b4e51;
}


/* .nav-item-li{
  border: 1px solid white;
} */




.tab-content{
  width: 100%;
  height: 100% !important;
}

.tab-pane{
  height: 100% !important;
}

.navbar-nav {
  float: right;
}
  
  
  #mainNav {
    padding: 10px 0;
    width: 100%;
    background-color: rgb(75, 78, 81) !important;
  }
  
  
  .nav-link {
    font-family: 'Oswald' !important;
    font-size: 24px !important;
    text-align: end;
  }
  
#navbar-ul-list{
  margin: 0;
  padding: 0 20px 0 0;
}

.dropdown-item{
  color: black !important;
  font-family: 'Oswald' !important;
}

  
  /* min 1197 */
  
  @media (min-width: 1197px) {
    .nav-link {
      font-size: 18px !important;
      text-align: center !important;
    }
  
  }
  
  /* min 1440 */
@media (min-width: 1440px) {
  #DivForLogo {
    height: 80px;
  }
  
  #containerLogin {
    width: 40% !important;
  }
}

  /* min 1000 */
  
  @media (min-width: 1000px) {
    #mainNav {
      display: flex !important;
    }
  }
  
  /* 1440 */
  
  @media (max-width: 1440px) {
    #DivForLogo {
      height: 80px;
    }
  
    #containerLogin {
        width: 50% !important;
    }
  }
  
  
  /* 1200 */
  
  
  @media (max-width: 1200px) {
    #containerLogin {
      width: 60% !important;
    }
  }
  
  /* 992 */
  
  @media (max-width: 992px) {
    #h1ForLogin {
      font-size: 1rem;
    }
  
    #containerLogin {
        width: 100% !important;
        padding: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
  
    #DivForLogo {
        margin-top: 10px;
    }
  }
  
  
  /* 768 */
  
  @media (max-width: 768px) {
    #mainDivForLogin {
      width: 100% !important;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  
  
  /* 580 */
  
  
  @media (max-width: 580px) {
    #formLogin {
      width: 90% !important;
    }
  }
  
  /* 550 */
  
  @media (max-width: 550px) {
  
    #formLogin {
        width: 90% !important;
    }
  
    #divForNavBarToggle {
        width: 100%;
    }
  
    #navbarResponsive {
        width: 100%;
    }
  
    #navBarToggle {
        float: right !important;
        margin-right: 14px;
    }
  
    #navCon {
        flex-direction: column !important;
        justify-content: flex-end !important;
        color: rgb(255,255,255);
        padding: 0;
    }
  
    #h1ForLogin {
        font-size: 1.6rem !important;
    }
  
    #mainLogo {
        width: 90% !important;
    }
  }
  
  
  /* 500 */
  
  @media (max-width: 500px) {
    #containerLogin {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  
  
  /* 440 */
  
  
  @media (max-width: 440px) {
    main {
      height: 100% !important;
    }
  
    #mainDivForLogin {
        padding-top: 20px !important;
    }
  }
  
  /* 400 */
  
  @media (max-width: 400px) {
    #navbarResponsive {
      margin-top: 10px !important;
    }
  
    #divForMainLogo {
        margin-bottom: 10px;
    }
  
    #containerLogin {
        margin-bottom: 10px !important;
    }
  }
  
  /* 320 */
  
  
  @media (max-width: 320px) {
    #mainLogo-1 {
      width: 90%;
    }
  }
  
.nav-link-btn{
  color: white;
  font-size: 1.5rem !important;
}
  
.nav-link-btn:hover{
  border: none;
}

.nav-link-btn:active{
  border: none;
}