/* Применение общих параметров */
/* ================================================= */
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 22px;
    max-width: 1920px;
    color: #4B4E51;
}

/* containers style */

.containerRegNewWorker {
    background-image: url(/img/background.png);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 700px;
}

/* logo geo style */

.logo {
    padding-top: 130px;
}

/* Form elements style */

.reg {
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    font-size: 52px;
    line-height: 24px;
    color: #4B4E51;
    padding-top: 35px;
}

.reg_form {
    padding-top: 25px;
    width: 100%;
}

.field_label {
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    color: #4B4E51;
}

.data {
    position: relative;
    text-align: center;
    width: 400px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usr_data {
    width: 100%;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    color: #4B4E51;
    background-color: #fff;
}

/* Gender style */
/* ================================================================================== */

.gender {
    color: #4B4E51;
    padding-top: 22px;
    
}

.gender_value {
    display: flex;
    color: #5F6377;
}

.gender_value > p {
    padding-right: 22px;
}

/* Select */
/* ================================================================================== */


.depSelect{
    width: 100%;
    margin: 10px 0 0 0;
    display: block;
    background: none;
    border-radius: 10px 10px 10px 10px;
    line-height: 36px;
    border: 2px solid #4B4E51;
    outline: none;
    padding: 3px 0;
    text-align: center;
    text-align-last:center; 
    color: #4B4E51;
    
}


.subdSelect{
    width: 100%;
    margin: 10px 0 0 0;
    display: block;
    background: none;
    border-radius: 10px 10px 10px 10px;
    line-height: 36px;
    border: 2px solid #4B4E51;
    outline: none;
    padding: 3px 0;
    text-align: center;
    text-align-last:center; 
}

/* radion btn  */

.radioBtn{
    margin: 0 5px;
}

/* Button style */
/* ======================================================================================= */

.btn {
    padding-top: 30px;
    bottom: 128px;

}

.btn_form {
    border-radius: 10px 10px 10px 10px;
    padding: 0px 64px;
    margin-bottom: 128px;

    color: #fff;
    background-color: #4B4E51;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    outline: none;



}

.active {
    background-color: #4B4E51;
    color: white;
  }

.dropdown_container {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 310px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.reg_form a {
    padding-top: 5px;
    text-decoration: none;
}

  .reg_form a, .usr_data {
    font-size: 18px;
    color: #4B4E51;
    display: block;
    background: none;
    width: 400px;
    text-align: center;
    outline: none;
  }


.searchDiv{
    margin: 40px 0 0 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#searchWorker{
    margin: 10px 0;
}

.contentSearch{
    width: 400px;
}

.workerCardSearch{
    display: flex;
    border: solid 1px black;
    width: 100%;
    flex-direction: column;
}

.upperContentCard{
    display: flex;
    flex-direction: row;
}

.lowerContentCard{
    display: flex;
    flex-direction: column;
}

.icon{
    background-color: #4B4E51;
    width: 30%;
    height: 100%;
}

.mainInfoDAM{
    /* background-color: coral; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.textDescFN{
    padding: 0 0 0 10px;
    text-align: left;
    width: 100%;
    /* background-color: cornflowerblue; */
    word-wrap: break-word;
}

.infoDAM{
    /* background-color: brown; */
    width: 60%;
}

.phoneDAM{
    /* background-color: cadetblue; */
    width: 40%;
}

  @media only screen and (max-width: 900px) {
    .containerRegNewWorker {
        width: 700px;
    }

    .data{
        width: 400px;
        /* background-color: rebeccapurple; */
    }

    .reg_form{
        width: 100%;
    }

    .usr_data{
        width: 100%;
    }

    .btn_form{
        width: 70vw;
    }

    .logo{
        padding: 20px 0;
    }
  }


  @media only screen and (max-width: 450px) {

    body{
        max-width: 450px;
    }

    .containerRegNewWorker {
        max-width: 100vw;
    }

    main{
        max-width: 100vw;
    }

    .logo{
        width: 60vw;
        padding: 10px;
    }

    .logo_svg{
        width: 60vw;
    }

    .reg{
        font-size: 34px;
    }

    .data{
        width: 60vw;
        /* background-color: rebeccapurple; */
    }

    .reg_form{
        width: 100%;
    }

    .usr_data{
        width: 100%;
    }

    .btn_form{
        width: 60vw;
        padding: 0;
        font-size: 20px;
    }
    
  }


.subdSelect:disabled{
    
    opacity: 50%;

}
