* {
    margin: 0;
    padding: 0;
}


body {
    position: fixed;
    background: url("/img/background.png");
    width: 100%;
    max-height: 100vh;
}


/* FORM */

.form {
    position: absolute;
    width: 480px;
    height: 960px;
    left: 720px;
    top: 60px;

    background-color: #fff;
}

.logo {
    position: absolute;
    width: 440px;
    height: 110px;
    left: 20px;
    top: 200px;


}

.auth {
    position: absolute;
    height: 34px;
    left: 17.29%;
    right: 17.08%;
    top: calc(50% - 34px/2 - 100px);

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 24px;
    text-transform: uppercase;
    color: #4B4E51;
}

.pin {
    position: absolute;
    height: 24px;
    left: 17.5%;
    right: 35.72%;
    top: calc(50% - 24px/2 - 24px);

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    color: #4B4E51;
}

.pin__code {
    position: absolute;
    width: 310px;
    height: 40px;
    left: 85px;
    top: 470px;

    background: #fff;
    border: 1px solid #4B4E51;
    box-sizing: border-box;
    box-shadow: inset -1px 1px 2px
        rgba(0, 0, 0, 0.25);
        border-radius: 10px;
}

.auth__btn {
    position: absolute;
    width: 311px;
    height: 40px;
    left: 85px;
    top: 546px;
    
    background: #4B4E51;
    border-radius: 10px;
    color: #FFFFFF;

    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    
}




